<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a News Article</title>
        
        <link rel="stylesheet" href="../styles/resets.scss">
        <link rel="stylesheet" href="../styles/base.scss">
        <link rel="stylesheet" href="../styles/header.scss">
        <link rel="stylesheet" href="../styles/form.scss">
        <link rel="stylesheet" href="../styles/footer.scss">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;600&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="logo">
               <h1>NLP</h1>
               <h5 class="sub-logo">Evaluate a News Article with NLP</h5>
            </div>

            <div class="nav">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </header>

        <main>
            <section class="title">
                <p>Enter a news article url here to find out the hidden information behind the text.</p>
            </section>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter an url here.">
                    <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="polarity"></div>
                    <div id="agreement"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>&copy;Ja Navey 2023</p>
        </footer>

    </body>
</html>
